<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="vaccine.css">
<title>vaccine</title>
</head>
<body>
<p class="h1">Vaccine</p>
<hr>
<img src="https://th.bing.com/th/id/OIP.D5FyYeWqAiyCqUmG171o-wHaEK?w=331&h=186&c=7&o=5&dpr=1.25&pid=1.7" height="300px" width="675px" alt="vaccine">
<img src="https://th.bing.com/th/id/OIP.he9r-LoIdl1_tMNFNnKQZQHaE7?w=271&h=180&c=7&o=5&dpr=1.25&pid=1.7" height="300px" width="820px" alt="vaccine">
<hr>
<p class="h3">Vaccine For Covid-19</p>
<div>
<aside>
<details>
<summary>Age-wise vaccinated</summary>
<p></p>
</details>
<details>
<summary>Who will get the vaccine?</summary>
<p></p>
</details>
<details>
<summary>Covishield</summary>
<p>COVISHILED:
The Oxford–AstraZeneca COVID-19 vaccine, codenamed AZD1222, and sold under the brand names Covishield] and Vaxzevria among others, is a viral vector vaccine for prevention of COVID-19. Developed by Oxford University and AstraZeneca, it is given by intramuscular injection, using as a vector the modified chimpanzee adenovirus ChAdOx1. Studies carried out in 2020 showed that the efficacy of the vaccine is 76.0% at preventing symptomatic COVID-19 beginning at 22 days following the first dose and 81.3% after the second dose. Another analysis showed that, for symptomatic COVID-19 infection after the second dose, the vaccine is 66% effective against the Alpha variant (lineage B.1.1.7), and 60% against the Delta variant</p>
</details>
<details>
<summary>Covaxin</summary>
<p>Covaxin (codenamed as BBV152) is an inactivated virus-based COVID-19 vaccine developed by Bharat Biotech in collaboration with the Indian Council of Medical Research. Bharat Biotech reported the vaccine to be 64% (95% CI, 29–82%) effective against asymptomatic cases, 78% (65–86%) effective against symptomatic cases, 93% (57–100%) effective against severe COVID-19 infection, and 65% (33–83%) effective against the Delta variant.</p>
</details>
<details>
<summary>Sputnik-V</summary>
<p>Sputnik V (Russian: Спутник V) or Gam-COVID-Vac (Russian: Гам-КОВИД-Вак) is an adenovirus viral vector vaccine for COVID-19 developed by the Gamaleya Research Institute of Epidemiology and Microbiology in Russia. It is the world's first registered combination vector vaccine for the prevention of COVID-19 to be registered on 11 August 2020 by the Russian Ministry of Health.
The 'V' in its name means 'Victory over COVID-19' according to Kirill Dmitriev, CEO of Russian Direct Investment Fund.

Gam-COVID-Vac was initially approved for distribution in Russia and then in 59 other countries (as of April 2021) on the preliminary results of PhaseeI–studies eventually published on 4 September 2020. Approval in early August of Gam-COVID-Vac was met with criticism in mass media and discussions in the scientific community as to whether approval was justified in the absence of robust scientific research confirming safety and efficacy.On 2 February 2021, an interim analysis from the trial was published in The Lancet indicating 91.6% efficacy without unusual side effects</p>
</details>
<details>
<summary>Common side effets</summary>
<p></p>
</details>
</aside>
<p class="p1">A vaccine is a biological preparation that provides active acquired immunity to a particular infectious disease.A vaccine typically contains an agent that resembles a disease-causing microorganism and is often made from weakened or killed forms of the microbe, its toxins, or one of its surface proteins. The agent stimulates the body's immune system to recognize the agent as a threat, destroy it, and to further recognize and destroy any of the microorganisms associated with that agent that it may encounter in the future. Vaccines can be prophylactic</p>
</div>
</body>
</html>